<div class="book-detail">
    {{book.name}} - {{book.author}}
    <br>
    Type: {{book-type book.binding}} {{book.binding}}
    <br>
    <br>
    Fullname as computed property {{book.fullName}}

    {{#if isDetail}}
        <br>
        {{book.desc}} - {{book.year}}
        <br>
        <button type="button" class="ui button" {{action "hideDetail"}}>Show less</button>
    {{else}}
        <button type="button" class="ui button" {{action "showDetail"}}>Show more</button>
    {{/if}}
    
    {{{{#link-to "book.edit"}}
        Edit
    {{/link-to}}}}
</div>